.Actor--stats {
  padding: 2em 3em;
  background: #5a63da3b;
  margin-top: 1em;
  border-radius: 10px;
}

.Actor--name {
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 600 !important;
  font-size: 1.5em;
  letter-spacing: 2px;
  text-align: center;
  padding: 1rem 0;
}
