.Landing--container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #9a35ef, #4b00c4, #4176d6);
}

.Landing--form {
  padding: 1.1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 600px;
  margin-bottom: 20vh;
}

.Landing--logo {
  padding-bottom: 0.1rem;
  text-align: center;
}

.Landing--label {
  font-family: "Open Sans", sans-serif;
  font-weight: 600 !important;
  font-size: 2.5rem;
  font-weight: 500;
  margin: 1rem 0;
  color: white;
  text-align: center;
}

.Landing--input {
  background: #000000;
  border-radius: 0.25em !important;
  -webkit-border-radius: 0.25em !important;
  -moz-border-radius: 0.25em !important;
  outline: none;
  border: 0px none;
  padding: 1.5em;
  max-width: 500px;
  font-size: 1.2em;
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: #c1b4e8;
  font-weight: 500;
  margin: 0px auto;
}
