.Actor--container {
  /* background: linear-gradient(-95deg, #9a35ef, #4b00c4, #050f20); */
  /* background: #090121e6; */
  background: #11152d;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.Actor--image img {
  width: 200px;
  height: auto;
}

.Actor--notable-credit img {
  width: 100px;
  height: auto;
}
